
<!--<img src="/assets/mmm.png">-->

<div class="buttons-container">
<!--    <button id="openConnection" (click)="openConnection()"> Open Connection </button>-->
    <button id="start" [disabled]="!connectionOpened"  (click)="startReceivingData()"> START </button>
    <button id="pause" [disabled]="!connectionOpened"  (click)="stopMoving()"> PAUSE </button>
    <button id="closeConnection" [disabled]="!connectionOpened"  (click)="closeConnection()"> Close Connection </button>
</div>


<hr>


<div class="rowsContainer">
    <div class="row" *ngFor="let row of imageData; let rowIndex = index">
        <div class="cell" appGetColor [colorValue]="cell"  *ngFor="let cell of row; let cellIndex = index"> </div>
    </div>
</div>


<hr>


<!--<button  (click)="startMovingBar()"> START </button>-->





