
<!--<img src="/assets/mmm.png">-->


<div class="rowsContainer">
    <div class="row" *ngFor="let row of imageData; trackBy: trackById; let rowIndex = index">
<!--        <div class="cell" [style]="" appGetColor [colorValue]="cell.value"-->
        <div class="cell" [style.background-color]="determineColor(cell.value)"
             *ngFor="let cell of row.cells; trackBy: trackById; let cellIndex = index">
        </div>
    </div>
</div>


<hr>


<button  (click)="startMovingBar()"> START </button>
<button  (click)="stopMoving()"> STOP </button>





